    {
    "IPE 80":Preset(
            h: 80,
            b: 46,
            a: 0.764,
            iy: 0.801,
            wy: 20.0,
            iz: 0.085,
            wz: 3.69,
        ),
    "IPE 100":Preset(
            h: 100,
            b: 55,
            a: 1.03,
            iy: 1.71,
            wy: 34.2,
            iz: 0.159,
            wz: 5.79,
        ),
    "IPE 120":Preset(
            h: 120,
            b: 64,
            a: 1.32,
            iy: 3.18,
            wy: 52.0,
            iz: 0.277,
            wz: 8.65,
        ),
    "IPE 140":Preset(
            h: 140,
            b: 73,
            a: 1.64,
            iy: 5.41,
            wy: 77.3,
            iz: 0.449,
            wz: 12.3,
        ),
    "IPE 160":Preset(
            h: 160,
            b: 82,
            a: 2.01,
            iy: 8.69,
            wy: 109,
            iz: 0.683,
            wz: 16.7,
        ),
    "IPE 180":Preset(
            h: 180,
            b: 91,
            a: 2.39,
            iy: 13.2,
            wy: 146,
            iz: 1.01,
            wz: 22.2,
        ),
    "IPE 200":Preset(
            h: 200,
            b: 100,
            a: 2.85,
            iy: 19.4,
            wy: 194,
            iz: 1.42,
            wz: 28.5,
        ),
    "IPE 220":Preset(
            h: 220,
            b: 110,
            a: 3.34,
            iy: 27.7,
            wy: 252,
            iz: 2.05,
            wz: 37.3,
        ),
    "IPE 240":Preset(
            h: 240,
            b: 120,
            a: 3.91,
            iy: 38.9,
            wy: 324,
            iz: 2.84,
            wz: 47.3,
        ),
    "IPE 270":Preset(
            h: 270,
            b: 135,
            a: 4.59,
            iy: 57.9,
            wy: 429,
            iz: 4.20,
            wz: 62.2,
        ),
    "IPE 300":Preset(
            h: 300,
            b: 150,
            a: 5.38,
            iy: 83.6,
            wy: 557,
            iz: 6.04,
            wz: 80.5,
        ),
    "IPE 330":Preset(
            h: 330,
            b: 160,
            a: 6.26,
            iy: 117.7,
            wy: 713,
            iz: 7.88,
            wz: 98.5,
        ),
    "IPE 360":Preset(
            h: 360,
            b: 170,
            a: 7.27,
            iy: 162.7,
            wy: 904,
            iz: 10.4,
            wz: 123,
        ),
    "IPE 400":Preset(
            h: 400,
            b: 180,
            a: 8.45,
            iy: 231.3,
            wy: 1160,
            iz: 13.2,
            wz: 146,
        ),
    "IPE 450":Preset(
            h: 450,
            b: 190,
            a: 9.88,
            iy: 337.4,
            wy: 1500,
            iz: 16.8,
            wz: 176,
        ),
    "IPE 500":Preset(
            h: 500,
            b: 200,
            a: 11.6,
            iy: 482.0,
            wy: 1930,
            iz: 21.4,
            wz: 214,
        ),
    "IPE 550":Preset(
            h: 550,
            b: 210,
            a: 13.4,
            iy: 671.2,
            wy: 2440,
            iz: 26.7,
            wz: 254,
        ),
    "IPE 600":Preset(
            h: 600,
            b: 220,
            a: 15.6,
            iy: 920.8,
            wy: 3070,
            iz: 33.9,
            wz: 308,
        )  
    }

